
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-pencil-neg:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-chat-inv:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-group-circled:before { content: '\e805'; } /* '' */
.icon-chat-empty:before { content: '\e806'; } /* '' */
.icon-chat-1:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-calendar-empty:before { content: '\e809'; } /* '' */
.icon-doc:before { content: '\e80a'; } /* '' */
.icon-ellipsis-vert:before { content: '\e80b'; } /* '' */
.icon-left-big:before { content: '\e80c'; } /* '' */
.icon-angle-circled-left:before { content: '\e80d'; } /* '' */
.icon-left-circled:before { content: '\e80e'; } /* '' */
.icon-home-outline:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-left-circle:before { content: '\e811'; } /* '' */
.icon-plus-circled:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */